@use "./variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
}

footer {
    background-color: variables.$negro;
    color: variables.$blanco;
    list-style: none;

    .footer-nav {
        list-style: none;
        display: flex;
        margin: 5px;
        justify-content: space-around;

        .ig {
            width: 30px;
            height: auto
        }

        .x {
            width: 30px;
            height: auto;
        }

    }

    .copy {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 5px;
    }
}