footer {
    background-color: #000000;
    color: white;
    list-style: none;

    .footer-nav {
        list-style: none;

        .ig {
            width: 30px;
            height: auto
        }

        .x {
            width: 30px;
            height: auto;
        }
    }
}