@media (max-width: 480px) {
  .logo {
    width: 250px;

  }

  .imgCarr {
    width: 90%;
    margin: auto;
    display: block;
    padding: 10px;
  }

  .lineups {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex-direction: column;

    .line1 {
      width: 70%;
      height: auto;
    }

    .line2 {
      width: 70%;
      height: auto;
    }

    .line3 {
      width: 70%;
      height: auto;
    }

    .line4 {
      width: 70%;
      height: auto;
    }
  }

  .spotify {
    padding: 10px;
  }

  .carousel-control-next {
    width: 25%;
  }

  .carousel-control-prev {
    width: 25%;

  }

  .sub {
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }
}

@media (min-width: 481px) and (max-width: 1023px) {


  .imgCarr {
    width: 70%;
    margin: auto;
    display: block;
    padding: 10px;
  }

  .lineups {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;

    .line1 {
      width: 50%;
      height: auto;
    }

    .line2 {
      width: 50%;
      height: auto;
    }

    .line3 {
      width: 50%;
      height: auto;
    }

    .line4 {
      width: 50%;
      height: auto;
    }
  }

  .spotify {
    padding: 10px;
  }

  .carousel-control-next {
    width: 40%;
  }

  .carousel-control-prev {
    width: 40%;

  }

  .sub {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .button {
    margin: 5px;
    padding: 10px;
  }
}