/**Font**/
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imginicio {
    width: 80%;
    margin: auto;
    display: block;
    padding: 20px;
}

.imgInfo {
    width: 75%;
    margin: auto;
    display: block;
    padding: 20px;

}

.lineups {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.lineups img {
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}




.ig {
    width: 30px;
    height: auto
}

.x {
    width: 30px;
    height: auto;
}



footer {
    background-color: #000000;
    color: white;
    list-style: none;
}

.footer-nav {
    list-style: none;
}